
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-image: url('assets/background.png');
  font-family: 'Inter', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #8ef68482, #637c9ccf);
  padding: 10px 20px;
  box-shadow: 0px 5px 5px 4px rgb(0 0 0 / 17%);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 10rem ;
  border-radius: 9999px;
  flex-shrink: 2;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 1rem;
  background-color: #e3ede1; 
  color: #333;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 4px 5px 1px rgb(0 0 0 / 35%);
  font-family: 'inter', sans-serif; 
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease;
}
.login-button:hover {
  background-color: #d0e0ce;
}
.login-button i {
  font-size: 1.5rem;
}
.composite-image-container {
  width: 100%;
  font-size: 0; 
   position: absolute;
}
.top-image,
.bottom-image {
  width: 100%; 
  height: auto; 
  display: block; 
}

.welcome{
 position: relative;
 top: 50 ;
 left: 50;
}